.components-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.component-1, .component-2, .component-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    margin: 30px 50px;
}

.main-component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-component {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid limegreen;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px;
}

img {
    width: 60%;
    height: 100%;
}

button {
    border: 1px solid rgba(42, 40, 40, 0.81);
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    background-color: lime;
    padding: 7px 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.main-component-container div button {
    background-color: red;
    color: white;
    font-weight: lighter;
}

button:hover {
    opacity: .7;
}